SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
HASH_ALGORITHM=HS256
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=MyTelegramBot
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_URL=https://seu.dominio.com/telegram/webhook
