SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
HASH_ALGORITHM=HS256
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=MyTelegramBot
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_URL=https://seu.dominio.com/telegram/webhook

DATABASE_URL=sqlite+aiosqlite:///./database/database.db

MQTT_HOST=
MQTT_PORT=443

MQTT_USERNAME=backend-ingestor
MQTT_PASSWORD=uma-senha-muito-forte

MQTT_CA_CERT=/app/certs/ca.crt

MQTT_CLIENT_ID=sensor-backend-ingestor
MQTT_KEEPALIVE=60
MQTT_SESSION_EXPIRY=86400